.DS_Store

.vscode/

#  add the venv directory to .gitignore
venv/
backend/.venv/
backend/uploads/
backend/.env
#  all .pyc files
__pycache__/
*.pyc
#  all .pyc files in backend

backend/__pycache__/
backend/models/__pycache__/


# frontend
frontend/node_modules/

frontend/.env
